
  <div class="addSubway" >

      <div *ngIf= "show == 'subway'">
        <form>
          <h1 style="text-align: center">Add subway</h1>
      
          <label for="subway_name"><b>Subway name</b></label>
          <input type="text" placeholder="Enter subway name" name="subway_name" [(ngModel)]="subway.name" 
          [ngModelOptions]="{standalone: true}" required />
  
          <label for="line"><b>Line</b></label>
  
          <select [(ngModel)]="lineSelected" id="subway_id_line" name="line" [ngModelOptions]="{standalone: true}" required >
            <option *ngFor="let line of lines" [ngValue]="line">{{line.name}}</option>
          </select>
  
          <label for="time_arrive"><b>Time arrive (=> 5)</b></label>
          <input type="number" placeholder="Enter time arrive" name="time_arrive" [(ngModel)]="subway.time_arrive" 
          [ngModelOptions]="{standalone: true}" required />
        
          <br>  
         
        </form>
      </div>
  
      <div [hidden]="showMap">
        <h1 style="text-align: center">Add location</h1>
        <label for="line"><b>Select location:</b></label>
        <select [(ngModel)]="selectedLocation" id="selected_location" name="selected_location" (change)="loadMap(true)" required >
          <option *ngFor="let station of lineSelected.station_list" [ngValue]="station.location">{{ station.location.location_name}}</option>
        </select>
        <div id="mapLocS" class="mapLoc" style="width:100%;height:400px"></div>
       
      </div>
  
      <div *ngIf= "show == 'timetable'">
        <h1 style="text-align: center">Add timetable</h1>
  
      </div>
  
      <div class="clearfix">
          <mat-dialog-actions>
  
            <ng-container *ngIf= "show == 'subway'">
              <button class="cancelbtn" mat-button mat-dialog-close>Cancel</button>
              <button class="signupbtn" type="button" mat-button (click) = "nextClick()" >Next</button>
            </ng-container>
              
            <ng-container *ngIf= "show == 'location'">
              <button class="cancelbtn" type="button" mat-button (click) = "backClick()">Back</button>
              <button class="signupbtn" type="button" mat-button (click) = "next2Click()" >Next</button>
            </ng-container>
  
            <ng-container *ngIf= "show == 'timetable'">
              <button class="cancelbtn" type="button" mat-button (click) = "back2Click()">Back</button>
              <button class="signupbtn" type="button" mat-button (click) = "addSubway()" >Save</button>
            </ng-container>
            
          </mat-dialog-actions>
        </div>
  
  
    </div>
  
      