<h1 style="text-align: center">All lines</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Zone</th>
        <th scope="col">Type</th>
        <th scope="col">First station</th>
        <th scope="col">Stations</th>
        <th scope="col">Timetable</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let line of lines; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{line.name}}</td>
        <td>{{line.zone}}</td>
        <td>{{line.line_type}}</td>
        <td> <img (click) = "findFirstStation(line.first_station)" src ="assets/pictures/bus-stop.png" alt="First station" style="cursor: pointer;"></td>
        <td> <img (click) ="openStations(line.station_list)" src ="assets/pictures/stations.png" alt="Stations" style="cursor: pointer;"></td>
        <td> <img src ="assets/pictures/schedule.png" alt="Timetable" style="cursor: pointer;"></td>
        <td> <img (click)= "deleteLine(line.id)" src ="assets/pictures/delete.png" alt="Delete" style="cursor: pointer;"></td>
      </tr>
  </table>