<app-header #header (featureSelected)= "onNavigate($event)"></app-header>

<div *ngIf = "showView == 'home'" class="container">
    <div class="row" style="padding: 120px">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/lights.jpg" target="_blank">
                    <img src="assets/pictures/bus.jpg" alt="Lights" style="width:100%">
                    <div class="caption">
                        <h3 style="text-align: center">Bus</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/nature.jpg" target="_blank">
                    <img src="assets/pictures/subway.jpeg" alt="Nature" style="width:100%">
                    <div class="caption">
                        <h3 style="text-align: center">Subway</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/fjords.jpg" target="_blank">
                    <img src="assets/pictures/trolley.jpg" alt="Fjords" style="width:100%">
                    <div class="caption">
                        <h3 style="text-align: center">Trolley</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
 </div>