
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Transport Type</th>
      <th scope="col">Ticket Type</th>
      <th scope="col">Demographic Type</th>
      <th scope="col">Zone</th>
      <th scope="col">Valid From</th>
      <th scope="col">Purchase Date</th>
      <th scope="col">Active</th>
      <th scope="col">Expired</th>
      <th scope="col">Cost</th>
      <th scope="col">Activate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let ticket of tickets; let i = index" 
    [ngStyle]="{'background-color': ticket.block ? '#f44336' : '#29434e'}">
      <th scope="row">{{i + 1}}</th>
      <td>{{ticket.code_transport}}</td>
      <td>{{ticket.type_transport}}</td>
      <td>{{ticket.ticket_type}}</td>
      <td>{{ticket.demographic_type}}</td>
      <td>{{ticket.zone}}</td>
      <td>{{ticket.date}}</td>
      <td>{{ticket.date_purchase}}</td>
      <td>{{ticket.active}}</td>
      <td>{{ticket.expired}}</td>
      <td>{{ticket.cost}}</td>
      <td> <img (click) ="activate(ticket.id)" src ="assets/pictures/checked.png" alt="Activate" style="cursor: pointer;"></td>
    </tr>
</table>