<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Zone</th>
        <th scope="col">Location name</th>
        <th scope="col">Address</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Type</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let station of stations; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{station.zone}}</td>
        <td>{{station.location.location_name}}</td>
        <td>{{station.location.address}}</td>
        <td>{{station.location.latitude}}</td>
        <td>{{station.location.longitude}}</td>
        <td>{{station.location.type}}</td>
        <td> <img (click) ="deleteStation(station.id)" src ="assets/pictures/delete.png" alt="Delete" style="cursor: pointer;"></td>
      </tr>
  </table>