<h1 style="text-align: center;">Current location</h1>
<mat-dialog-content>
  <div *ngIf = "show == 'exist'">
    <!-- mozda ovde prikazemo na mapi lokaciju<img src="assets/pictures/line.jpg" style="height: 100px; width: 400px;" > -->

    <p>Location name: {{location.location_name}}</p>
    <p>Address: {{location.address}}</p>
    <p>Latitude: {{location.latitude}}</p>
    <p>Longitude: {{location.longitude}}</p>
    <p>Type: {{location.type}}</p>

  </div>

  <div *ngIf = "show == 'not'">
    <p>The transport didn't start!</p>
  </div>
  

</mat-dialog-content>
<mat-dialog-actions>
 <button mat-button mat-dialog-close >Back</button>
</mat-dialog-actions>