<div id = "main">
  <h2 style="text-align: center;">  Filter and search</h2>
  <div id="div1">
    <label for="line" style="padding-right: 20px;"><b>Line</b></label>

    <select [(ngModel)]="filterSearch.id_line" id="filter_id_line" name="line" (change)= "loadFilterSearch()" required >
      <option [ngValue] = "null"></option>
      <ng-container *ngFor="let line of lines">
        <ng-container *ngIf = "line.line_type == 'bus'">
          <option [ngValue] = "line.id">{{line.name}}</option>
        </ng-container>
      </ng-container>
    </select>

  </div>

  <div id="div2">
      <label for="late"><b>Late</b></label><br>
      <input type="checkbox" [(ngModel)]="filterSearch.late"  data-md-icheck (change)="loadFilterSearch()"/> 
  </div>

  <div id="div3">
    <label for="station" style="padding-right: 5px;"><b>Current location</b></label>

    <select [(ngModel)]="filterSearch.id_location" id="filter_id_location" name="line" (change)= "loadFilterSearch()" required >
      <option [ngValue] = "null"></option>
      <ng-container *ngFor="let station of stations">
        <option [ngValue] = "station.location.id">{{station.location.location_name}}</option>
      </ng-container>
    </select>

  </div>

  <div id="div4">
    <input type="text" id="search_bus_name" placeholder="Enter name of bus..." [(ngModel)]="filterSearch.text_search" 
    (ngModelChange)= "loadFilterSearch()">

  </div>
</div>