<h2>Scan ticket</h2>
<mat-dialog-content>
  <form>
      <label>Ticket number</label><br>
      <input type="text" name="ticket" [(ngModel)]="ticketCode">
  </form>
  <button class="checkbtn" type="button" mat-button (click) = "ticketCheck(ticketCode)" >CHECK</button>
  <button class="cancelbtn" type="button" mat-dialog-close mat-button >Cancel</button>
    
</mat-dialog-content>
<!-- <div *ngIf="ticketCheck()" class="success">
    Ticket checked successfully!
</div>
<div *ngIf="!ticketCheck()" class="failed">
    Ticket not valid!
</div> -->
