<h1 style="text-align: center">All buses</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Late</th>
        <th scope="col">Time arrive</th>
        <th scope="col">Line</th>
        <th scope="col">Location</th>
        <th scope="col">Timetable</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let bus of buses; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{bus.name}}</td>
        <td>{{bus.code}}</td>
        <td>{{bus.late}}</td>
        <td>{{bus.time_arrive}}</td>
        <td> <img src ="assets/pictures/substract.png" alt="Line" style="cursor: pointer;"></td>
        <td> <img src ="assets/pictures/placeholder.png" alt="Location" style="cursor: pointer;"></td>
        <td> <img src ="assets/pictures/schedule.png" alt="Timetable" style="cursor: pointer;"></td>
        <td> <img (click) ="deleteBus(bus.id)" src ="assets/pictures/delete.png" alt="Delete" style="cursor: pointer;"></td>
      </tr>
  </table>