<mat-dialog-content>
  <div style="width: 90%;">
    <h1 style="text-align: center;">First station</h1>
      <div *ngIf = "show == 'exist'">
        <p>Zone: {{station.zone}} </p>
        <p>Location name: {{station.location.location_name}}</p>
        <p>Address: {{station.location.address}}</p>
        <p>Latitude: {{station.location.latitude}}</p>
        <p>Longitude: {{station.location.longitude}}</p>
        <p>Type: {{station.location.type}}</p>

      </div>

      <div *ngIf = "show == 'not'">
        <p>There sre no stations yet!</p>
      </div>

      <div id="map" class="map" style="width:100%;height:400px"></div>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close >Back</button> 
    </mat-dialog-actions>
  </div>
</mat-dialog-content>
