<mat-dialog-content>
  <h1 style="text-align: center;">{{line.name}}</h1>
  <div>
    <p>line type: {{line.line_type}}</p>
    <p *ngIf = "line.first_station != null">first station: {{fstation}}</p>
    <p>zone: {{line.zone}}</p><br>
  </div>

  <div id="map5" class="map3" style="width:100%;height:400px"></div>

  <div>
    <h2 style="text-align: center;">Stations</h2>
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Location name</th>
        <th scope="col">Address</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let station of line.station_list">
        <ng-container *ngIf= "!station.deleted">
          <td>{{station.location.location_name}}</td>
          <td>{{station.location.address}}</td>
          <td>{{station.location.latitude}}</td>
          <td>{{station.location.longitude}}</td>
          <td>{{station.location.type}}</td>
      </ng-container>
      </tr>
    </table>
  </div>

  <mat-dialog-actions>
  <button mat-button mat-dialog-close >Back</button>
  </mat-dialog-actions>
</mat-dialog-content>