<nav class = "navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Sbv Transport</a>
        </div>
  
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left" *ngIf = "(showView) == 'administrator'">
                <ul class="nav navbar-nav">
                  <li><a (click)="clickBus()" style="cursor: pointer;">Bus</a></li>
                  <li><a (click) = "clickTrolley()" style="cursor: pointer;">Trolley</a></li>
                  <li><a (click)="clickSubway()" style="cursor: pointer;">Subway</a></li>
                </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav">
                  <li><a (click)="clickButtonLogin()" style="cursor: pointer;">Login</a></li>
                  <li><a (click) = "clickButtonRegistration()" style="cursor: pointer;">Registration</a></li>
                </ul>
            </ul>
        </div>
    </div>
  </nav>
  
  