
  <div class="addStation" >
    <form>
      <h1 style="text-align: center">Add station</h1>
      
      <label for="first_name"><b>Zone</b></label>

      <select [(ngModel)]="station.zone" id="category" name="zone" [ngModelOptions]="{standalone: true}" required >
        <option value="first">first</option>
        <option value="second">second</option>
      </select>

      <label for="location_name"><b>Location name</b></label>
      <input type="text" placeholder="Enter Location name" name="location_name" [(ngModel)]="mylocation.location_name" 
      [ngModelOptions]="{standalone: true}" required />

      <p>*Click on the map where you want to locate your station:</p>
      Address: <div id="address"></div>
      Longitude:<div id="lon"></div>
      Latitude: <div id="lan"></div>
      <div id="map" class="map" style="width:100%;height:400px"></div>
     
      <br>
      
      <div class="clearfix">
        <mat-dialog-actions>
          <button class="cancelbtn" mat-button mat-dialog-close>Cancel</button>
          <button class="signupbtn" type="button" mat-button (click) = "addLocation()" >Add Station</button>
        </mat-dialog-actions>
      </div>
    </form>
    </div>

    